@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TripPortal.Models.Entities.Trip>


<h1>Trips</h1>

<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Price</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trip in Model)
        {
            <tr>
                <td>@trip.Country</td>
                <td>@trip.City</td>
                <td>@trip.Price</td>
                <td>@trip.StartDate</td>
                <td>@trip.EndDate</td>
                <td>
                    <a class="btn btn-primary" asp-controller="trips" asp-action="Edit" asp-route-id="@trip.TripID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>