@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<TripPortal.Models.Entities.Reservation>

<h1>Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>Reservation ID</th>
            <th>TripID</th>
            <th>StudentID</th>
            <th>ReservationDate</th>
            <th>PaymentDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.ReservationID</td>
                <td>@reservation.TripID</td>
                <td>@reservation.StudentID</td>
                <td>@reservation.ReservationDate</td>
                <td>@reservation.PaymentDate</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Reservations" asp-action="Edit" asp-route-id="@reservation.ReservationID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>